:root {
    --lpx-logo: url('/images/logo/genora/genora-logo-light.png');
    --lpx-logo-icon: url('/images/logo/leptonxlite/logo-light-thumbnail.png');
}
:root .abp-account-layout .lpx-brand-logo{
    --lpx-logo: url('/images/logo/genora/genora-logo-dark.png');
    background-position: left;
}
.note-editable {
    background-color: white;
}