@page
@using Genora.MultiTenancy.Localization
@using Genora.MultiTenancy.Permissions
@using Genora.MultiTenancy.Web.Pages.AppCustomers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MultiTenancyResource> L
@inject IAuthorizationService AuthorizationService
@inject Volo.Abp.MultiTenancy.ICurrentTenant CurrentTenant

@{
    var canCreate = CurrentTenant.IsAvailable
        ? await AuthorizationService.IsGrantedAsync(MultiTenancyPermissions.AppCustomers.Create)
        : await AuthorizationService.IsGrantedAsync(MultiTenancyPermissions.HostAppCustomers.Create);
}
@section styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
}
@section scripts {
    <abp-script src="/Pages/AppCustomers/index.js" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["AppCustomers"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await AuthorizationService.IsGrantedAsync(MultiTenancyPermissions.AppCustomers.Create) ||
                                await AuthorizationService.IsGrantedAsync(MultiTenancyPermissions.HostAppCustomers.Create))
                {
                    <abp-button id="NewCustomerButton"
                                text="@L["NewAppCustomer"]"
                                icon="plus"
                                button-type="Outline_Primary" />
                }
            </abp-column>
        </abp-row>
        <abp-row class="mb-3">
            <abp-column size-md="_4">
                <div class="mb-3">
                    <label class="form-label" for="CustomerFilterText">
                        @L["CustomerFilterText"]
                    </label>
                    <input id="CustomerFilterText"
                           name="CustomerFilterText"
                           class="form-control"
                           type="text" />
                </div>
            </abp-column>
            <abp-column size-md="_2" style="display: flex; align-items: center">
                <abp-button id="SearchCustomerButton"
                            text="@L["Search"]"
                            button-type="Outline_Primary"
                            style="height: 45px"
                            icon="search" />
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="CustomersTable"></abp-table>
    </abp-card-body>
</abp-card>
